@{
    ViewBag.Title = "About";
}

<div class="span9">
    <div class="whity content">
        <!-- Main Content Starts Here -->
        <!-- Content should be encloased inside div with the class "posts" -->
        <div class="posts">
            <!-- Each entry should be enclosed inside div with the class "entry" -->
            <div class="entry">
                <div class="padd">
                    <!-- About Page title -->
                    <h2>About Me</h2>
                    <!-- About Page Para -->
                    <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Aenean porta volutpat neque at suscipit. Quisque a mi velit, vel mollis sapien. Etiam vestibulum bibendum neque, at fermentum leo commodo et. Aenean pharetra, magna et aliquet eleifend, tortor elit suscipit lectus, a dapibus nulla leo et velit. Vestibulum odio erat, porta et hendrerit eu, convallis eget turpis. Cras sit amet nibh dui, a consectetur enim. Nullam sed quam sapien, sit amet venenatis lacus. Vivamus varius suscipit pulvinar.</p>
                </div>

                <div class="row">
                    <div class="span5 offset2">
                        <div class="padd-f">
                            <!-- Staff #1 -->
                            <div class="staff" style="align-content: center'">
                                <!-- Staff name and designation -->
                                <p class="name">Jordan Jordanov <span>->Student</span></p>
                                <!-- Staff Picture -->
                                <div class="author"><img src="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/13012814_1185972041414452_5722574415469125783_n.jpg?oh=15290fb19c3ded8c9e52f4e8e8758a4d&oe=597DBA05" alt="" /></div>
                                <!-- Staff social profiles. Replace # with profile link. -->
                                <div class="s-socials">
                                    <a href="#" class="tip" title="Facebook"><i class="icon-facebook-sign"></i></a>
                                    <a href="#" class="tip" title="Twitter"><i class="icon-twitter-sign"></i></a>
                                    <a href="#" class="tip" title="Linkedin"><i class="icon-linkedin-sign"></i></a>
                                    <a href="#" class="tip" title="Google Plus"><i class="icon-google-plus-sign"></i></a>
                                </div>
                                <!-- Small para about staff -->
                                <p>Vestibulum ornare, risus vel pharetra porttitor, sagittis turpis lectus et urna. Donec tempus laoreet vulputate. Pellentesque habitant morbi netus et turpis egestas.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Ends Here -->
    </div>

</div>