@{
    ViewBag.Title = "Add";
}

<h1>Add URL Of The New Picture</h1>
<br />
@using (Html.BeginForm("Add", "Portfolio", FormMethod.Post))
{
    <div class="form-group">
        @Html.Editor("ImageThumbnail", new { htmlAttributes = new { @class = "form-control" } })
        <br />
        <input type="submit" value="Add" class="btn btn-primary btn-large" />
    </div>
}
