@{
    ViewBag.Title = "Index";
}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span12 hidden-desktop">
                <div class="padd"><div class="navis"></div></div>
            </div>
            <div class="span9">
                <div class="padd whity content">
                    <!-- Main Content Starts Here -->
                    <!-- Content should be encloased inside div with the class "posts" -->
                    <div class="posts">
                        <!-- Each entry should be enclosed inside div with the class "entry" -->
                        <div class="entry">
                            <!-- Entry title -->
                            <h2><a href="#">Etiam adipiscing posuere justo, nec iaculis</a></h2>
                            <!-- Entry meta information. Calender, User, Category, Tags. Font awesome icons used -->
                            <p class="meta"><i class="icon-calendar"></i>&nbsp; 12/04/2017 -&nbsp;<i class="icon-user"></i>&nbsp;&nbsp;Jordan </p>
                            <!-- Thumbnail here -->
                            <p class="thumbnail"><img src="https://wallpaperbrowse.com/media/images/pictures-19.jpg" alt="" /></p>
                            <!-- Entry para -->
                            <p>Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing. <a href="#">Morbi dictum nibh gravida</a> mi pretium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum. Vestibulum quis elit odio, id hendrerit ipsum. Fusce consequat leo vitae velit interdum at laoreet justo ullamcorper.</p>
                        </div>
                        <!-- 2nd entry -->
                        <div class="entry">
                            <h2>Adipiscing posuere etiam justo, posuere justo</h2>
                            <p class="meta"><i class="icon-calendar"></i>&nbsp; 12/04/2017 -&nbsp;<i class="icon-user"></i>&nbsp;&nbsp;Jordan </p>
                            <!-- Thumbnail here -->
                            <p class="thumbnail">
                                <img src="https://wallpaperbrowse.com/media/images/sunrise-phu-quoc-island-ocean.jpg" /></p>
                            <p>
                                Fusce imperdiet, risus eget viverra faucibus, diam mi vestibulum libero, ut vestibulum tellus magna nec enim. Nunc dapibus varius interdum. Phasellus at lorem ut lectus fermentum convallis. Sed diam nisi, pulvinar vitae molestie hendrerit, venenatis eget mauris. Integer porta erat ac eros porta ultrices. Proin porttitor eros a ante molestie gravida commodo dui adipiscing. <a href="#">Morbi dictum nibh gravida</a> mi pretium dapibus. Nullam in est urna. In vitae adipiscing enim. Curabitur rhoncus condimentum lorem, non convallis dolor faucibus eget. In ut nulla est. Sed a interdum mauris. Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum. Vestibulum quis elit odio, id hendrerit ipsum. Fusce consequat leo vitae velit interdum at laoreet justo ullamcorper.
                            </p>
                        </div>
                        <!-- Navigation links -->
                        <ul class="pager">
                            <li class="previous">
                                <a href="#">&larr; Previous Entries</a>
                            </li>
                            <li class="next">
                                <a href="#">New Entries &rarr;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Main Content Ends Here -->
                </div>
            </div>

            <div class="mobily hidden-desktop">

            </div>
        </div>
    </div>
</div> 