@model IEnumerable<MessageBoard.Models.BlogTopicVM>
@{
    ViewBag.Title = "Index";
}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="span12 hidden-desktop">
                <div class="padd"><div class="navis"></div></div>
            </div>
            <div class="span9 offset1">
                <a href="/Blog/add"><p class="thumbnail">
<img src="~/Content/TOPIC-1.png" width="300" height="150" /></p></a>
                
            </div>
            <div class="span9 offset1">
                <div class="padd whity content">
                    <!-- Main Content Starts Here -->
                    <!-- Content should be encloased inside div with the class "posts" -->
                    <div class="posts">
                        <!-- Each entry should be enclosed inside div with the class "entry" -->
                        @foreach (var blogTopic in Model)
                        {
                            <div class="entry">
                                <!-- Entry title -->
                                <h2><a href="/Blog/Details/@blogTopic.Id">@blogTopic.Title</a></h2>
                                <!-- Entry meta information. Calender, User, Category, Tags. Font awesome icons used -->
                                <p class="meta"><i class="icon-calendar"></i>&nbsp; @blogTopic.Date.Date -&nbsp;<i class="icon-user"></i>&nbsp;&nbsp;Anonymous </p>
                                <!-- Thumbnail here -->
                                <p class="thumbnail"><img src="@blogTopic.ImageThumbnail" alt="" /></p>
                                <!-- Entry para -->
                                <p>@blogTopic.Description</p>
                            </div>
                        }
                       

                        
                        <!-- Navigation links -->
                        <ul class="pager">
                            <li class="previous">
                                <a href="#">&larr; Previous Entries</a>
                            </li>
                            <li class="next">
                                <a href="#">New Entries &rarr;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Main Content Ends Here -->
                </div>
            </div>

            <div class="mobily hidden-desktop">

            </div>
        </div>
    </div>
</div> 